<div class="flex items-center justify-between bg-[#eee] p-8 shadow-lg w-full">
    <div class="flex flex-col w-1/2 pl-20 self-center py-8">
      <h2 class="text-xl font-bold text-gray-900">Need Assistance?</h2>
      <p class="text-lg font-semibold text-gray-700">Reach out to our sales person.</p>
    </div>
  
    <div class="flex items-center gap-5 w-1/2">
      <img 
        src="https://bdjobs.com/ContactSalesPerson/Contact_10.jpg" 
        alt="Sales Contact Person" 
        class="w-[120px] h-[120px] rounded-full border border-black shadow-sm"
      />
        <div class="text-gray-900 font-sans">
        <p class="text-[#1a1919] text-[18px]  font-semibold">Sales Contact Person</p>
        <p class="text-[#595959] text-base font-medium leading-6 mb-1">Muhammad Anamul Hasan</p>
        <p class="text-[#595959] text-base font-medium leading-6 mb-1">Deputy General Manager, Sales</p>
        <p class="text-[#595959] text-base font-medium leading-6 mb-1"><strong></strong>01811410854 / 01712609300</p>
        <p class="text-[#595959] text-base font-medium leading-6 mb-1"><strong></strong> 
          <a href="mailto:imrul@bdjobs.com" class="text-[#595959] hover:underline">enamul&#64;bdjobs.com</a>
        </p>
      </div>
    </div>
  </div>
  